<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Agenda San Pablo</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css'%}" media="screen,projection">
</head>
<body>
<nav class="light-blue darken-4">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">Agenda San Pablo</a>
	</div>
</nav>
<div class="row" style="margin-top:25vh;" >
  <form class="col s10 offset-s1  blue lighten-4" style="border-radius: 10px;padding-top: 3em; ">
    {% csrf_token %}
    <div class="row">
      <div class="col s6">
        <div class="input-field col s11">
          <input placeholder="" id="nombres" type="text" class="validate" required>
          <label class="blue-grey-text text-darken-4"  for="nombres">Nombres</label>
          </div>
        </div>
      <div class="col s6">
        <div class="input-field col s11">
        <input id="apellido materno" type="text" class="validate" name="apellidoMaterno" required>
        <label class="blue-grey-text text-darken-4"  for="apellido materno">Apellidos materno</label>
      </div>
    </div>
    </div>


    <div class="row">
      <div class="col s6">
        <div class="col s3">
          <p class="blue-grey-text text-darken-4" >Género:</p>
        </div>
        <div class="col s3">
          <p>
            <input name="secso" type="radio" id="hembra" />
            <label class="blue-grey-text text-darken-4"  for="hembra">Mujer</label>
          </p>
       </div>
       <div class="col s3">
        <p>
          <input name="secso" type="radio" id="macho" />
          <label class="blue-grey-text text-darken-4"  for="macho">Hombre</label>
        </p>
      </div>
    </div>

    <div class="col s6">
      <div class="input-field col s11">
        <input placeholder="" id="email" name="email" type="text" class="validate" required>
        <label class="blue-grey-text text-darken-4"  for="email">Correo universitario:</label>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <div class="input-field col s11">
        <select>
          <option value="" disabled selected>Escoge tu carrera</option>
          <option value="1">Ciencias de la Computación</option>
          <option value="2">Ingeniería Civil</option>
          <option value="3">Ingeniería Electroníca y Telecomunicaciones</option>
          <option value="4">Ingenieria Industrial</option>
          <option value="5">Psicología</option>
          <option value="6">Administración de Negocios</option>
          <option value="7">Contabilidad</option>
          <option value="8">Educación</option>
          <option value="9">Derecho</option>
        </select>
        <label class="blue-grey-text text-darken-4" >Carrera</label>
        </div>
      </div>
    </div>

    <div class="row right">
        <a class="waves-effect waves-light btn" type="submit" name="action">Registrar</a>
      </div>
  </form>
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'js/general.js'  %}"></script>
</body>
</html>
